.navContainer {
	position: fixed;
	height: 9vh;
    background-color: white;
    box-shadow: 0 2px 59px -18px rgb(154, 191, 243);
	display: flex;
	justify-content: space-around;
	width: 100%;
	text-align: center;
	align-items: center;
	z-index: 10;
}

.globebox{
	position: relative;
}
.globe{
	height: 0.7em;
	-ms-transform: rotate(-20deg); /* IE 9 */
	  transform: rotate(-20deg);
	  
}
.globering{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0.35em;
}
.logoContainer{

    display: flex;
    height: 100%;
    align-items: center;
    .navLogoImage{
        height: 80%;
        background-color: transparent;
        padding: 2px;
    }
    .navLogoName{
        padding: 5px 5px;        
		letter-spacing: 1px;
		-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(   rgb(24, 7, 179) 27.3%, rgb(241, 0, 0) 112.7% );
    }
}


.navLinks {
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	
}

.navbtn {
	transition: all 0.3s ease-in-out;
	color: #000;
	background-color: #fff;
	padding: 7px 30px;
	border-radius: 5px;
	outline: none;
	border: none;
	font-size: 13px;
	letter-spacing: 2px;
	margin: 10px;
	text-transform: uppercase;
	cursor: pointer;

	&:hover {
		transform: translatey(5px);
		box-shadow: none;
		background-image: linear-gradient(90deg, #4776e6 0, #8e54e9 95%, #4776e6);
		color: #fff;
	}
}

.conatctbtn {
	background-image: linear-gradient(90deg, #cfeca1 0, #b4ecbc);
	transition: all 0.3s ease-in-out;
	color: #000;
	background-color: #fff;
	padding: 7px 30px;
	border-radius: 5px;
	outline: none;
	border: none;
	font-size: 13px;
	letter-spacing: 2px;
	margin: 10px;
	text-transform: uppercase;
	cursor: pointer;
	&:hover{
		transform: translatey(5px);
		background-position: 100%;
	}
}
.menu{
	cursor: pointer;
	opacity: 0;
	display: none;

	.rect1,
	.rect2,
	.rect3{
		height: 4px;
		width: 25px;
		background-color: orange;
		margin: 4px;
		border-radius: 5px;
		transition: 0.7s ease;

		
	}


	.flip1 {
		transform: translate(-3px, 8px) rotate(-55deg);
		opacity: 1;
		height: 4px;
		width: 25px;
		background-color: orange;
		margin: 4px;
		border-radius: 5px;
		transition: 0.7s ease;
	}
	.flip2 {
		opacity: 0;
	}
	.flip3 {
		transform: translate(-3px, -1px) rotate(50deg);
		opacity: 1;
		height: 4px;
		width: 25px;
		background-color: orange;
		margin: 4px;
		border-radius: 5px;
		transition: 0.7s ease;
	}
}


.slide{
	position: absolute;
	top: 7vh;
	width: 100%;
	height: 70vh;
	z-index: 1000;
	overflow: hidden;
	background-color: #fff;
	display: -moz-box;
	display: flex;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	flex-direction: column;
	transition: height 0.5s ease-in;
}


@media only screen and (max-width: 1045px){
	.menu{
		opacity: 1;
		display: block;
		cursor: pointer;
	}
	.navLinks{
		position: absolute;
		background-color: #fff;
		top: 7vh;
		height: 0;
		transition: all 0.3s ease-in;
		opacity: 0;
		flex-direction: column;
		width: 100%;
	}
}