.reviewContainer{
    
    display: flex;
	flex-direction: column;
	
	align-items: center;
	width: 100%;
}

.titlebox {
	text-align: center;
	width: 100%;
}

.title {
	display: block;
	padding: 0 6px;
	margin-right: 30%;
	font-size: 2.5em;
	color: black;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(   rgb(24, 7, 179) 27.3%, rgb(255, 0, 0) 82.7%);
	background-color: linear-gradient(   rgb(24, 7, 179) 27.3%, rgb(255, 0, 0) 82.7%) ;
	overflow: hidden;
}
.reviewbox{
	width: 78%;
	
	padding: 2em 2em;
	
	background: radial-gradient(circle, #6df1a2 5%, #27ec76 65%,  rgb(176, 218, 87) 100%);
	
    background-repeat: no-repeat;
    background-size: cover;
}
.reviewCard{
	position: relative;
	background-color: #f1f3f8;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	max-width: 90%;
	margin-left: 3%;
	flex-wrap: wrap;
	min-height: 30vh;
	border: 1px solid white;
}

.slider{
	padding: 2em 0em;
	
}


@media only screen and (max-width: 1045px){
	.reviewbox{
		width: 100%;
	}
	.reviewCard{
		width: 100%;
		height: 100%;
		padding: 0.5em 0.5em;
		flex-wrap: wrap;
		word-wrap: break-word;
		font-size: 0.5em;
		
	}
	.title{
		margin-left: -15%;
		font-size: 1.8em;
	}
}