.reviewContainer{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	width: 100%;
}

.titlebox {
	text-align: center;
	width: 100%;
	
}

.title {
	
	padding: 0 6px;
	font-size: 2.5em;
	margin-right: 30%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(   rgb(24, 7, 179) 27.3%, rgb(255, 0, 0) 82.7%);
}

.title::after {
	content: "";
	flex: 1 1 auto;
	height: 1px;
	background-color: #000;
	max-width: 74%;
	margin-left: 10px;
}

.reviewbox{
	width: 78%;
	
	padding: 2em 2em;
	
	background: radial-gradient(circle, rgb(182, 219, 194) 0%, rgb(177, 235, 212) 100%);
}
.reviewCard{
	position: relative;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	max-width: 90%;
	margin-left: 3%;
	flex-wrap: wrap;
	min-height: 30vh;
}

.slider{
	padding: 2em 0em;
	
}


@media only screen and (max-width: 1045px){
	.reviewbox{
		width: 100%;
	}
	.reviewCard{
		width: 100%;
		height: 100%;
		padding: 0.5em 0.5em;
		flex-wrap: wrap;
		word-wrap: break-word;
		font-size: 0.5em;
		
	}
	.title{
		margin-left: 0%;
		font-size: 1.8em;
	}
}