	.welcomeBox{
		width: 100%;
		display: flex;
    	justify-content: center;
   		align-items: center;
		top: 11vh;
	}

.welcomeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: inherit;
    top: 10vh;
	width: 100%;
}

.welcomeTextConatiner{
	
	color: black;
	margin-left: 5em;
    z-index: 1;
	text-align: center;
	
	
}
.steth{
	position: absolute;
	left: 10em;
	top: 6em;
	height: 7em;
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	
	
}
.welcomeTextTitle {
	margin: 0;
	font-size: 3.5em;
	font-weight: 800;
	line-height: 1.15;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(   rgb(24, 7, 179) 27.3%, red 82.7% );
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	
	
}
.globebox{
	position: relative;
}
.globe{
	height: 0.6em;
	-ms-transform: rotate(-20deg); /* IE 9 */
	  transform: rotate(-20deg);
	  
	
	  
}
.globering{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0.35em;
}
.welcomeTextSubTitle {
	margin: 0;
	font-size: 2em;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(   rgb(24, 7, 179) 27.3%, red 82.7% );
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	
}
.welcomeTextInfo {
	margin: 0;
	font-size: 1.2em;
	color: #000;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(   rgb(24, 7, 179) 27.3%, rgb(241, 0, 0) 112.7% );
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	
}

.texthighlight{
	font-size: 1.4em;
	font-weight: bold;
	// -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	//         animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.welcomeTextLogo {
	height: 4em;
	margin-top: 2em;
	-webkit-animation: slide-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.navbtn {
	transition: all 0.3s ease-in-out;
	color: blueviolet;
	background-color: #fff;
	padding: 7px 15px;
	border-radius: 5px;
	outline: none;
	border: none;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 2px;
	margin: 10px;
	text-transform: uppercase;
	cursor: pointer;
	width: 14em;
	&:hover {
		transform: translatey(-3px);
		font-weight: 500;
		box-shadow: none;
		background-image: linear-gradient(90deg, #4776e6 0, #8e54e9 95%, #4776e6);
		color: #fff;
	}
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	
}
.welcomeImageConatiner {
	text-align: center;
	display: grid;
	place-items: center;
	margin-top: 4em;
	-webkit-animation: slide-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
			animation: slide-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	
	
}
.welcomeImage {
	width: 28em;
	left: 0;
}
.whatsApp{
    
    
    transition: 0.2s ;
    height: 100%;
	background-color: #25D366;
	//box-shadow: 2px 2px 3px #999;
	cursor: pointer;
	border: none;
	outline: none;
	margin: 0 0;
	color: white;
	border-radius: 60%;
	padding: 0 0;
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	
	&:hover{
		box-shadow: 2px 2px 3px #999;
	}

}
.whatsAppimage{
	display: grid;
	place-items: center;
	width: 4em;
}
@-webkit-keyframes slide-top {
	0% {
	  -webkit-transform: translateY(100);
			  transform: translateY(100);
	}
	100% {
	  -webkit-transform: translateY(0px);
			  transform: translateY(0px);
	}
  }
  @keyframes slide-top {
	0% {
	  -webkit-transform: translateY(100px);
			  transform: translateY(100px);
	}
	100% {
	  -webkit-transform: translateY(0px);
			  transform: translateY(0px);
	}
  }

  @-webkit-keyframes slide-left {
	0% {
	  -webkit-transform: translateX(100);
			  transform: translateX(100);
	}
	100% {
	  -webkit-transform: translateX(0px);
			  transform: translateX(0px);
	}
  }
  @keyframes slide-left {
	0% {
	  -webkit-transform: translateX(100px);
			  transform: translateX(100px);
	}
	100% {
	  -webkit-transform: translateX(0px);
			  transform: translateX(0px);
	}
  }
@media only screen and (max-width: 1045px){

	.welcomeContainer{
		flex-direction: column;
		padding-top: 10vh;
		
	}

	.steth{
		left: 5%;
		height: 5em;
		top: 10vh;
	}

	.welcomeTextConatiner{
		margin: 0 0;
		width: 100%;
		padding: 2em 0em;
	}

	.welcomeImage{
		height: 14em;
	}
	.welcomeTextTitle{
		font-size: 2em;
	}
	.welcomeTextSubTitle{
		font-size: 1.2em;
		
	}
	.welcomeTextLogo{
		height: 3em;
		margin-top: 0;
	}
	.welcomeTextInfo{
		font-size: 1em;
		padding: 0em 2em;
	}
	.texthighlight{
		font-size: 1.2em;
	}
	.welcomeImage{
		width: 90vw;
		
		
	}
	.callbtnbox{
		width: 100%;
		
	}

	.navbtn{
		font-size: 10px;
		letter-spacing: 0.5px;
		width: 40%;
		padding: 0.5em 0.5em;
	}
	.whatsAppimage{
		width: 3em;
	}
}